@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

body {
  font-family: "Playfair Display", serif;
}

.carousel-wrapper {
  height: 90vh;
}

.carousel,
.carousel-inner {
  height: 90vh;
}

.fit {
  object-fit: contain;
}

.bd-example {
  position: relative;
}
.bd-example ::before {
  box-sizing: border-box;
}
.bd-example ::after {
  box-sizing: border-box;
}

.btn-c {
  background: none;
  border: none;
  margin-left: -5%;
  margin-right: -5%;
}

html,
body {
  overflow-x: hidden;
}
body {
  position: relative;
}
.color {
  background-color: rgba(235, 235, 235, 0);
  transition: 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.cont {
  justify-content: space-around;
  flex-wrap: wrap;
}
.card {
  width: 20rem;
  margin-top: 1rem;
}

.card-cont {
  padding-top: 10vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  list-style: none;
  margin: 0;
  /* background: deepskyblue; */
}

@media all and (max-width: 1200px) {
  .card {
    width: auto;
    margin-left: 6rem;
    margin-right: 6rem;
  }
}

@media all and (max-width: 600px) {
  .card-cont {
    flex-flow: column wrap;
    padding: 0;
    justify-content: space-around;
  }
  .card {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
}
